/* Footer ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */ 

#footer{
    text-align: center;
    color: #FCFCFC;
    background-color: #72B1D0;
    padding: 25px;
    margin-top: 50px;

    p{
        text-align: center;
        margin: auto auto 0px;
    }
      
    #social-icons{
        margin-bottom: 15px;

        a {
            color: white;
            margin-left: 8px;
            margin-right: 8px;
        }
    }
}