/* Init ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

body{
    background-color: #FCFCFC;
    overflow-x: hidden;
}

h2{
    font-family: 'Raleway', 'Helvetica', sans-serif;
    font-weight: bold;
}

p, li{
    font-family: 'Lato', 'Helvetica', sans-serif;
}

.container{
    padding-left: 25px;
    padding-right: 25px;
}

.p-container{
    max-width: 600px;
    margin: auto;
}

.row{
    margin-left: 0px;
    margin-right: 0px;
}

/* Header ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */ 

#header{
    margin-bottom: 100px;
}

.navbar-brand{
    display: block;
    margin-right: auto;
    margin-left: 10px;
}

#my-logo{
    height: 45px;
    width: auto;
}

#main-menu{
    list-style: none;
    margin: 0px;
    padding: 0px;
}

#main-menu li{
    display: inline;
    margin: 0px 10px
}

/* Intro ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */ 

#intro-p, #intro-p p{
    text-align: center;
    margin: auto;
}

#web-icons{
    width: 100%;
    max-width: 600px;
    margin-bottom: 25px;
}

#intro-p hr{
    margin: 50px 0px;
}

/* Titles ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */ 

.title-outer{
    text-align: center;
    margin-bottom: 25px
}

.title-h2{
    background-color: #8FD3F4;
    padding-bottom: 5px;
    padding-right: 10px;
    display: inline-block;
    margin: auto;
}

.title-h2 h2{
    background-color: #FCFCFC;
    margin-bottom: 0;
    width: inherit;
    padding-right: 10px;
}

/* Footer ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */ 

#footer{
    text-align: center;
    color: #FCFCFC;
    background-color: #72B1D0;
    padding: 25px;
    margin-top: 50px;
}

#footer p{
    text-align: center;
    margin: auto auto 0px;
}

/* Projects ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */ 

.work-row p {
    text-align: center;
    margin: 0px auto 50px;
}

.new-tab{
    width: 25px;
    height: 25px;
    margin: 10px 30px;
}

.new-tab-button{
    background-color: #FCFCFC;
    display: inline-block;
    margin-left: calc(100% - 85px);
    border-bottom-left-radius: 10px;
    box-shadow: 0px 5px 10px rgba(0,0,0,0.25);
    transition: color .2s ease-in-out, background-color .2s ease-in-out, border-color .2s ease-in-out, box-shadow .2s ease-in-out;
}

.new-tab-button:hover{
    background-color: #EAEAEA;
    box-shadow: none;
}

.project-cols{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
    height: 250px;
    padding: 0px;
}


/* Media Q's ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */ 

@media screen and (max-width: 767px){
    .project-cols{
        margin: 15px 0px;
    }
}

@media screen and (max-width: 576px){
    #header{
        margin-bottom: 50px;
    }

    #intro-p hr{
        margin: 25px 0px;
    }
}